# Node modules
node_modules/

# Cypress output
dist/
cypress/videos/
cypress/screenshots/

# Cypress cache
.cache/

# Relatórios de testes
mochawesome-report/
*.html
*.json

# Configurações locais
.env
.cypress.env.json

# Outros arquivos temporários
.DS_Store
Thumbs.db
